use crate::utils::input;

pub fn run(example: bool) -> anyhow::Result<()> {
    println!("Day %%DAY%%");
    let data = input(%%DAY%%, example)?;
    p1(&data);
    p2(&data);

    Ok(())
}

fn p1(input: &str) {
}

fn p2(input: &str) {
}

